<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hyh.dao.AssistInfoDao">
    <resultMap id="BaseResultMap" type="hyh.entity.AssistInfo">
        <result column="teastudentid" property="teastudentid" jdbcType="INTEGER"/>
        <result column="stustudentid" property="stustudentid" jdbcType="INTEGER"/>
        <result column="time" property="time" jdbcType="TINYINT"/>
    </resultMap>
    <insert id="add" parameterType="hyh.entity.AssistInfo">
    insert into assistinfo (teastudentid, stustudentid, time)
    values (#{teastudentid,jdbcType=INTEGER}, #{stustudentid,jdbcType=INTEGER}, #{time,jdbcType=TINYINT})
  </insert>

    <select id="get" resultMap="BaseResultMap">
    select * from assistinfo
    where stustudentid = #{stustudentid} and teastudentid = #{teastudentid}
  </select>

    <update id="deleteAll">
    truncate table assistinfo
  </update>

    <update id="update" parameterType="hyh.entity.Teacher">
    update assistinfo
    set time = #{time}
    where stustudentid = #{stustudentid} and teastudentid = #{teastudentid}
  </update>
</mapper>